<h3>BuildServNX</h3>

This folder contains automated builds of <a href="https://github.com/ctcaer/hekate">hekate by CTCaer</a> (on both master and dev branches).<br>
If a commit's build isn't here, then it's either still compiling, the build failed or syncthing didn't sync the file yet. You can check Jenkins <a href="https://jenkins.lavatech.top/job/hekate-ctcaer">here for master</a>, <a href="https://jenkins.lavatech.top/job/hekate-ctcaer-dev">here for dev</a>.<br>
<br>
You can join LavaTech discord <a href="https://discord.gg/Kf4qvUC">here</a>.<br>
<br>
<b>The file at the top is the latest build!</b>
